<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action = '/grade/submit' method="post">
    Student ID: <input type="text" name = "id">
    Name: <input type="text" name = "name">
    Course: <input type="text" name = "course">
    Grade: <input type="text" name = "grade">
    <input type="button" name="Submit">
</form>
</body>
</html>
