<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Student ID <%= id %></h1>
<p>Name: <b><%= name %></b></p>
<p>Course: <b><%= course %></b></p>
<p>Grade: <b><%= grade %></b></p>
</body>
</html>
